.btn {
  margin-right: 5px;
}

.bln {
  color: var(--bs-primary);
  background: var(--bs-white);
}

.bln:hover {
  color: var(--bs-white);
  background: var(--bs-primary);
}

body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}

.dropbtn {
  background-color: transparent;
  color: var(--bs-nav-link-color);
  font-size: 16px;
  border: none;
  margin-right: 5px;
}
.dropbtn::after {
  content: '';
  background: url('https://img.icons8.com/ios/452/chevron-down.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
